:root {
  /* trying various background colors and images and gradients */
  /* --background-image: linear-gradient(-90deg, #2E3192 , #1BFFFF); */
  /* --background-image: linear-gradient(-90deg, #D4145A , #FBB03B); */
  /* --background-image: linear-gradient(-90deg, #662D8C , #ED1E79); */ /* best one till now */
  /* --background-image: linear-gradient(-90deg, #FF512F , #DD2476); */
  /* --background-image: linear-gradient(-90deg, #C33764 , #1D2671); */ /* suitable for the text */
  /* --background-image: linear-gradient(90deg, #764BA2 , #667EEA); */
  /* trying other combinations */
  /* --background-image: linear-gradient(90deg, #8E0E00 , #1F1C18); */ /* it was also looking decent */
  /* --background-image: linear-gradient(90deg, #fc00ff , #00dbde); */

  /* now trying combination of 3 colors */
  --background-image: linear-gradient(90deg, #833ab4, #fd1d1d, #fcb045);
  /* --background-image: linear-gradient(90deg,#21D4FD, #B721FF); */
  /* --background-image:url("background_image/2725544.jpg"); */
  /* triend all the above gradients, finally liked the gradient vectored image */
  /* --background-image: url(file:///E:/AASTUDY%20SHAHID/A%20Major%20Projrct/Major%20project%201/jr-korpa-9XngoIpxcEo-unsplash.jpg); */
  --music-themes-background-image: linear-gradient(
    90deg,
    #833ab4,
    #fd1d1d,
    #fcb045
  );
}
body {
  background-image: var(--background-image);
  margin: 0px;
  font-family: "Segoe UI", Arial, sans-serif;
  color: white;
}

/* Top Navigation BAr */

.navigation-bar {
  height: auto;
  width: auto;
  background-image: linear-gradient(180deg, black, rgba(0, 0, 0, 0));
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 5%;
  padding-right: 5%;
  transition: all ease-in-out 1s; /* when the navbar loads, every property transits for 1s */
}
/* All the .navigation-bar div should be placed side by side */

.navigation-bar > div {
  display: inline-block;
}
/* animation for the website logo */
@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* website logo image */
.website-logo img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  animation-name: rotating;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

/* Website Function */
.website-name h4 {
  color: rgba(80, 220, 225);
}
